{% extends "auth.base.html.twig" %}
{% block title %}Connexion{% endblock %}
{% block stylesheets %}
{{parent()}}

{% endblock %}
{% block body %}
{% block content %} 
{{parent()}}

<div class="zone_form">
        <img src="https://learn.groupeism.sn/branding/_167_1/loginLogo/CustomLoginLogo.png?m=kmkwro2u" id="ism_logo" alt="">

    <form method="post" id="form">
        

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        {# <h1 class="h3 mb-3 font-weight-bold" id="e">Please sign in</h1> #}
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email"  >
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" >
            {% if error %}
                    <small class="" style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</small>
            {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
            {% endif %}
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn float-right"  type="submit" id="buttonSubmit">
        <box-icon type='solid' name='door-open'></box-icon> 
            Se connecter
        </button>
    </form>

</div>


{% endblock %}

{% endblock %}
