

{{ form_start(form) }}
    <div class="container mt-5 ">
     <div class="form-row  card col-4  ">
         <h3 id="title-form-planning">Nouvelle Plannification</h3>
                        <div class="form-group col-md-9 ">
                                        {{ form_label(form.createAt) }}
                                             {{ form_widget(form.createAt) }}
                        </div>
                            <div class="d-flex ">
                                <div class="form-group col-md-6 ">
                                {{ form_label(form.beginAt) }}
                                                    {{form_widget(form.beginAt)}}
                                </div>
                                <div class="form-group col-md-6 ">
                
                                {{ form_label(form.endAt) }}
                                                    {{form_widget(form.endAt)}}
                                </div>
                            </div>
                            <div class="form-group col-md-9 ">
                
                                {{ form_label(form.save) }}
                                                    {{form_widget(form.save)}}
                                </div>
                                {# <button class="btn">{{ button_label|default('Publier') }}</button> #}
            </div>
    </div>
        



{{ form_end(form) }}
